#after_submit {
    visibility: hidden;
}

#q1{
    background-color: #8CFF98;
}
#q2{
    background-color: #E9D2F4;
}
#q3{
    background-color: #DD99BB;
}
#q4{
    background-color: #D3D57C;
}
#q5{
    background-color: #8CFF98;
}
#q6{
    background-color: #8CFF98;
}
#q7{
    background-color: #8CFF98;
}
#q8{
    background-color: #8CFF98;
}
#q9{
    background-color: #8CFF98;
}
#q10{
    background-color: #8CFF98;
}

